@{
    ViewData["Title"] = "Home Page";
}

<form action="/User/Create" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email<span class="required-star">*</span></label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="email@domain.com" name="Email" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Name<span class="required-star">*</span></label>
            <input type="text" class="form-control" id="inputAddress" name="name" placeholder="Magda Horváth" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Address<span class="required-star">*</span></label>
            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress">Phone<span class="required-star">*</span></label>
            <input type="text" class="form-control" id="inputAddress" name="phone" placeholder="+363033695841" required>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City<span class="required-star">*</span></label>
                <input type="text" class="form-control" name="city" id="inputCity" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Option<span class="required-star">*</span></label>
                <select id="inputState" name="option" class="form-control" required>
                    <option selected>Choose...</option>
                    <option>Optimal</option>
                    <option>Extra</option>
                    <option>Medium</option>
                    <option>Standard</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" name="zip" id="inputZip" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="options">
    <span id="question-mark">?</span>
    <table class="table table-striped table-bordered" id="option-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Option</th>
                <th scope="col">Accident insurance limit</th>
                <th scope="col">Cash</th>
                <th scope="col">Luggage</th>
                <th scope="col">Luggage limit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Optimal</th>
                <td>200,000,000 Ft</td>
                <td>100,000 Ft</td>
                <td>200,000 Ft</td>
                <td>200,000,000 Ft</td>
            </tr>
            <tr>
                <th scope="row">Extra</th>
                <td>150,000,000 Ft</td>
                <td>100,000 Ft</td>
                <td>100,000 Ft</td>
                <td>200,000,000 Ft</td>
            </tr>
            <tr>
                <th scope="row">Medium</th>
                <td>100,000,000 Ft</td>
                <td>0 Ft</td>
                <td>50,000 Ft</td>
                <td>200,000,000 Ft</td>
            </tr>
            <tr>
                <th scope="row">Standard</th>
                <td>50,000,000 Ft</td>
                <td>0 Ft</td>
                <td>0 Ft</td>
                <td>200,000,000 Ft</td>
            </tr>
        </tbody>
    </table>
</div>



